.fondoprincipal2 {
    background: #6200EE 
  }

  .fondoprincipal3 {
    background: #6200EE
  }

  .cuadroWsp{
      width: 70px;
      height: 70px;
  }

  .cuadrovideo{
    width: 250px;
    height: 250px;
  }